.lato {
  font-family: "Lato", sans-serif;
}

.kanit {
  font-family: "Kanit", sans-serif;
}

.merriweather {
  font-family: "Merriweather Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
